__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.spec
*.exe
.venv/
venv/
env/
*.pem
*.key
*.crt
.idea/
.vscode/
*.log

# Exclude large FFmpeg binaries and archives
ffmpeg.zip
ffmpeg-master-latest-win64-gpl/